<!DOCTYPE html>
<html lang="en">
@include('pages/partials/head')

<body>
    @include('pages/partials/header')
    <main>

<section >
    <h1>Politicas</h1>
</section>
   

    </main>
    @include('pages/partials/footer')
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>